{% extends "base.html" %}
{% import "base.html" as base %}

{% block body %}
	
	{# Print out the board navigation Header #}
	{% set comma = joiner(", ") %}
	<p>[{% for b in g.conf.boards() %}{{ comma() }}
			{{ '<a href="/boards/%s#posts">/%s/</a>'|format(b.short, b.short)|safe }}{% endfor %}]</p>
	<h1>/{{board.short}}/ - {{board.title}}</h1>
	
	{# Include the post form template #}
	{{ base.post_form("/boards/" ~ board.short) }}
	
	<div class="spacer border"></div>
	<div class="spacer"></div>
	
	<div id="posts" class="container">
		
		{# Figure out which threads we want to show #}
		{% if not page is none %}
			{% set threads = board.threads(start_index=page.thread_start|int, stop_index=page.thread_stop|int) %}
		{% else %}
			{% set threads = board.threads() %}
		{% endif %}
		
		{# Print out the threads #}
		{% for thread in threads %}
			{% if loop.last %}
				<div class="thread" style="border: none;">
			{% else %}
				<div class="thread">
			{% endif %}
			
				<div id="op">
					{{ base.post(thread, board.short, session) }}
				</div>
				{# {% if reply_count[loop.index0] > 0 %}
					<div class="reply-count">
						<span>{{ reply_count[loop.index0] }} Replies omitted. Click reply to view.</span>
					</div>
				{% endif %} #}
				<div class="spacer"></div>
				<div id="replies">
				{% for reply in thread.replies(start_index=-5, stop_index=-1) %}
					<div class="reply">
						<div class="reply-container">
							{{ base.post(reply, board.short, session, is_reply=True) }}
						</div>
					</div>
					<div class="spacer"></div>
				{% endfor %}
				</div>
			</div>
		{% endfor %}
		
		{# Show the paging if pagination is turned on #}
		{% if not page is none %}
			{% set num_pages = (board|length/page.per_page)|round(method='ceil')|int %}
			{% for x in range(0, num_pages) %}
				<span>[<a href="/boards/{{ board.short }}?page={{ loop.index0 }}">{{ loop.index0 }}</a>]</span>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}