{% extends "base.html" %}
{% block body %}
	<h1>Error! - 400 Bad Request</h1>
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% if messages|length > 1 %}
				<h3>Reasons:</h3>
			{% else %}
				<h3>Reason:</h3>
			{% endif %}
			<ol>
			{% for message in messages %}
				<li style="list-style:none;">{{ message }}</li>
			{% endfor %}
			</ol>
		{% endif %}
	{% endwith %}
	<span>Return to: <a href="{{ rd }}">{{ rd }}</a></span>
	<br />
	<span>Or to: <a href="{{ request.environ["HTTP_REFERER"] }}">{{ request.environ["HTTP_REFERER"] }}</a></span>
	</div>
{% endblock %}